@media only screen and (max-width : 320px) {
	.container {width: 100% !important;}
	section#header_menu a {display:block;padding: 2px 40px;}
	body.page_hotel section#header_content_informer {padding-top: 150px;}
	section#header_content_informer .container div {width: 100%;display:block;right: 0;}
	body.page_hotel .logo_page_hotel, body.page_hotel .choice_btn {padding: 20px 0 0 0;}
	section#header_content_informer .container div:nth-child(2) {width: 100%;display: block;right: -35px;left:0;}
	body.hotel_7 section#header_content_informer .href_map a::after {content:none;}
	section#header_content_informer .href_map a {padding-left:0;text-align: center;}
	section#header_content_informer .container div:nth-child(3) {width: 100%;padding:43px 0;}
	.choice_btn a.mail {text-align:center;}
	.choice_btn a.tel{text-align:center;}
	.choice_btn a.btn_feedback {max-width: 100%;}
	body.hotel_7 .choice_btn a.btn_feedback {float: inline-start;min-width: 100%;}
	body.page_hotel h1.title_page {text-align: center;font-size: 24px;padding: 20px 0;}
	form.booking .booking_left_form {width: 100%;padding: 10px;min-height: 320px;}
	form.booking .booking_right_form {width: 100%;padding: 10px 30px;min-height: 304px;}
	form label.label_button {display: block;width: 100%;left: -30px;top:10px}
	form.booking .booking_right_form input[type="button"] {left:0}
	form.booking .booking_right_form label:nth-child(1) {margin-bottom:0;}
	form.booking .booking_right_form input[type="button"] {width:320px;top:4px}
	a.back_to_hotels {left: -35px;bottom: 315px;font-size: 20px;width: 100%;max-width: 100%;}
	body.hotel_7 header {padding-bottom: 0;}
		
	h2.title_hotel_page {font-size: 32px;margin-top: 50px;}
	body.hotel_7 .room_item .item {width: 100%;}
	body.hotel_7 a.booking_link {width: 100%;padding: 10px 0;}
	body.hotel_7 .room_item .item:nth-child(4n-2) {margin: 40px 0;}
	body.hotel_7 .room_item .item:nth-child(4n-1) {margin: 0;}
	
	.stock {width: 100%;left: 0;top: 0;text-align: center;}
	body.hotel_7 .flr_stock {padding: 40px 10px;}
	body.hotel_7 .stocks_num {width: 100%;margin-left: 0;}
	body.hotel_7 .item_stocks a.btn_booking_red {padding: 15px;font-size: 24.3px;}
	
	.services_item_blocks {width: 100%;}
	
	section#carousel {display:none;}
	
	h2.title_block {font-size: 20px;padding: 0 10px;color: #fff;background-color: #4776c8;}
	section#advantages .item_advantages .item::after {width: 90px;left: 115px;top: 10px;}
	section#advantages .item_advantages .item {width: 100%;}
	p.about_text {font-size: 12px;width: 280px;left: 20px;text-align: justify;}
	ul.sps_about {width: 100%;padding-bottom: 0;margin-bottom: 0;bottom: 0;border: 0;font-size: 12px;top: 10px;}
	img.about_image {width: 100%;left: 0;height: 250px}
	section#map_content form.booking {display:none;}
}

@media screen and (min-device-width: 321px) and (max-device-width: 480px) {
	.container {width: 100% !important;}
	section#header_menu a {display:inline-block;padding: 5px 10px;}
	body.page_hotel section#header_content_informer {padding-top: 30px;}
	section#header_content_informer .container div {width: 100%;display:block;right: 0;}
	body.page_hotel .logo_page_hotel, body.page_hotel .choice_btn {padding: 20px 0 0 0;}
	section#header_content_informer .container div:nth-child(2) {width: 100%;display: block;right: -35px;left:0;}
	body.hotel_7 section#header_content_informer .href_map a::after {content:none;}
	section#header_content_informer .href_map a {padding-left:0;text-align: center;}
	section#header_content_informer .container div:nth-child(3) {width: 100%;padding:43px 0;}
	.choice_btn a.mail {text-align:center;}
	.choice_btn a.tel{text-align:center;}
	.choice_btn a.btn_feedback {max-width: 100%;}
	body.hotel_7 .choice_btn a.btn_feedback {float: inline-start;min-width: 100%;}
	body.page_hotel h1.title_page {text-align: center;font-size: 24px;padding: 20px 0;}
	form.booking .booking_left_form {width: 100%;padding: 10px;min-height: 320px;}
	form.booking .booking_right_form label:nth-child(2) input, form.booking .booking_right_form label:nth-child(3) input {width:100%;}
	form.booking .booking_right_form {width: 100%;padding: 10px 30px;min-height: 304px;}
	form label.label_button {display: block;width: 100%;left: -30px;top:10px}
	form.booking .booking_right_form input[type="button"] {left:0}
	form.booking .booking_right_form label:nth-child(1) {margin-bottom:0;}
	form.booking .booking_right_form input[type="button"] {width:480px;top:40px}
	a.back_to_hotels {left: -35px;bottom: 315px;font-size: 20px;width: 100%;max-width: 100%;}
	body.hotel_7 header {padding-bottom: 0;}
	form.booking .booking_right_form label:nth-child(2), form.booking .booking_right_form label:nth-child(3) {margin: 15px 10%;display: block;width: 80%;padding: 0;}
	
	main .item {display: block;}	
	h2.title_hotel_page {font-size: 32px;margin-top: 50px;}
	.room_item {display: block;margin-top: 20px;}
	body.hotel_7 .room_item .item {width: 100%;margin: 40px 10%;}
	body.hotel_7 a.booking_link {width: 100%;padding: 10px 0;}
	body.hotel_7 .room_item .item:nth-child(4n-2) {margin: 40px 10%;}
	body.hotel_7 .room_item .item:nth-child(4n-1) {margin: 40px 10%;}
	.room_item .item {max-width: 80%;}
	body.hotel_7 .image_slider {height: 295px;}
	
	body.hotel_7 .item_stocks {width: 80%;height: auto;margin: 0 auto;}
	.stock {width: 100%;left: 0;top: 0;text-align: center;}
	body.hotel_7 .flr_stock {padding: 40px 10px;}
	body.hotel_7 .stocks_num {width: 100%;margin-left: 0;}
	body.hotel_7 .item_stocks a.btn_booking_red {padding: 15px 13.4%;font-size: 24.3px;}
	
	.services_item_blocks {width: 50%;margin: 0 23%;}
	
	section#carousel {display:none;}
	
	h2.title_block {font-size: 20px;padding: 0 10px;color: #fff;background-color: #4776c8;}
	section#advantages .item_advantages .item {text-align: right;padding: 20px 5% 0 0;left: 0}
	section#advantages .item_advantages .item::after {width: 90px;left: 5%;top: 30px;}
	section#advantages .item_advantages .item {width: 100%;height: 140px;border: 1px solid #4776c8;}
	p.about_text {font-size: 12px;width: 280px;left: 20px;text-align: justify;}
	ul.sps_about {width: 100%;padding-bottom: 0;margin-bottom: 0;bottom: 0;border: 0;font-size: 12px;top: 10px;}
	img.about_image {width: 100%;left: 0;height: 250px}
	section#map_content form.booking {display:none;}
}

	