@font-face {
    font-family: 'ft anima';
    src: url('../fonts/ftanima-Regular.eot');
    src: url('../fonts/ftanima-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ftanima-Regular.woff2') format('woff2'),
        url('../fonts/ftanima-Regular.woff') format('woff'),
        url('../fonts/ftanima-Regular.ttf') format('truetype'),
        url('../fonts/ftanima-Regular.svg#ftanima-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ft anima Med';
    src: url('../fonts/ftanima-Medium.eot');
    src: url('../fonts/ftanima-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ftanima-Medium.woff2') format('woff2'),
        url('../fonts/ftanima-Medium.woff') format('woff'),
        url('../fonts/ftanima-Medium.ttf') format('truetype'),
        url('../fonts/ftanima-Medium.svg#ftanima-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
.container {
	display:block;
	margin:0 auto;
	width: 1152px !important;
}
* {
	margin: 0;
	padding: 0;
	letter-spacing: normal;
	text-decoration: none;
	position: relative;
	font-weight: normal;
	letter-spacing: 1.2px;
    font: 16px 'ft anima';
}
body {
	font: 16px 'ft anima; sans-serif;
	font-weight: normal;
	position: relative;
	overflow-x: hidden;
}
body.page_hotel .logo_page_hotel, body.page_hotel .choice_btn {
    width: 25%;
    padding: 20px 0 0 0 !important;
}
body.page_hotel section#header_content_informer {
    z-index: 3;
    background-color: white;
}
section#header_menu {
    background-color: #4776c8;
    z-index: 999;
    position: fixed;
    width: 100%;
    text-align: center;
}
section#header_menu a {
    color: #fff;
    padding: 5px 40px;
    display: inline-block;
    border-bottom: 5px solid #4776c8;
    margin: 0;
    text-align: center;
}
section#header_content_informer .container div {
    display: inline-block;
    vertical-align: middle;
}
section#header_content_informer .container div:nth-child(2) {
    left: 95px;
    width: 48%;
}
section#header_content_informer .href_map a {

    font-size: 17px;
    line-height: 19px;
    color: #4776c8;
    padding-left: 50px;
    display: block;
    text-align: left;
}
section#header_content_informer .href_map a::after {
    content: '';
	position: absolute;
    left: 0;
    top: 8px;
    background: url('../images/css_sprites3.png') no-repeat -538px 0;
    width: 39px;
    height: 58px;
}
.href_map p.route {
color: red;
font-size: 20px;
top: 18px;
}
.choice_btn a.mail {
    display: block;
    font-size: 17px;
    color: #4776c8;
    text-align: right;
}
.choice_btn a.tel {
    display: block;
    font-size: 21.6px;
    color: #4776c8;
    text-align: right;
}
.choice_btn a.btn_feedback {
    display: block;
    width: 100%;
    max-width: 200px;
    text-align: center;
    padding: 10px;
    background-color: #fccd03;
    color: #fff;
    float: right;
    font-weight: 700;
    font-size: 18.691px;
}
main .bookig_page {
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: #f0f0f0;
    padding: 22px 28px;
    margin-bottom: 25px;
    border: 1px solid #4776c8;
}
main .bookig_page h1 {
    text-align: center;
    font-size: 34px;
    letter-spacing: 2px;
	font-weight: 700;
	font-family: 'ft anima';
    background-color: #fccd03;
    color: #fff;
    width: 100%;
}
form.booking_page_form h2 {
    color: #383839;
    font-size: 20px;
    margin-top: 20px;
	font-weight: 700;
}
.wp_input {
    width: 100%;
}
form.booking_page_form label input {

    color: #4776c8;
    font-size: 13px;
    padding: 10px 35px 10px 10px;
    border: 2px solid #4776c8;
    font-family: 'ft anima';
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
form.booking_page_form label.input_date::after {
    content: '';
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: url('../images/css_sprites3.png') no-repeat -303px -199px;
    width: 21px;
    height: 22px;
}
form.booking_page_form label p {
    font-size: 12px;
    margin-bottom: 5px;
}
form.booking_page_form label.input_date, form.booking_page_form label.input_text {
    display: block;
    margin-right: 50px;
    width: 49%;
}
form.booking_page_form h3 {
    font-size: 24px;
    margin: 10px 0;
	font-size: 20px;
	text-align: center;
	/*! background-color: #fccd03; */
	color: #4776c8;
	text-transform: uppercase;
	width: 98;
    font-weight: 600;
    padding: 5px;
}
.img_room {
	width: 100%;
    display: inline-block;
    vertical-align: top;
}
.img_room a {
    display: inline-block;
    width: 32.95%;
}
.img_room a img {width: 100%;}
.option_room {
    display: inline-block;
    width: 100%;
	text-align: center;
}
.option_room input[type="radio"] {
    width: 100%;
    height: 100%;
    z-index: 99;
    display: block;
    opacity: 0;
    position: absolute;
}
.option_room input[type="radio"]:checked + [for*="box2_"] .redio_elven {
background-color: #fccd03;
color: #383839;
}
.option_room input[type="radio"]:active + [for*="box2_"] .redio_elven {
background-color: #bb0202;
color: #fff;
}
.button_checkbox_option_room div {
    display: inline-block;
    margin-right: 5px;
}
.checkbox {
    margin-top: 20px;
    padding-left: 25px;
}
.checkbox_btn {
    display: inline-block;
    position: absolute;
    left: 0;
}
.checkbox input[type="checkbox"] {
    display: block;
    width: 19px;
    height: 19px;
    opacity: 0;
    z-index: 99;
    position: absolute;
}
.checkbox_btn label {
    width: 19px;
    height: 19px;
    position: absolute;
    left: 0;
}
.checkbox input[type="checkbox"] + label::before {
    content: "";
    background: url('../images/css_sprites3.png') no-repeat -377px -201px;
    width: 19px;
    height: 19px;
    position: absolute;
    left: 0;
    top: -4px;
}
.checkbox_uzu img {
    display: inline-block;
    margin-right: 5px;
}
.checkbox_uzu span {
	display: inline-block;
	background-color: #fff;
	text-align: center;
	padding: 5px;
	color: #6a6079;
	font-size: 13.2px;
}
.room_text_option {
	width: 100%;
	text-transform: uppercase;
	text-align: justify;
	color: #4776c8;
	margin-top: 30px;
}
.btn_booking_page_btn {

    color: #fff;
    background-color: #fccd03;
    width: 30%;
    padding: 10px 15px;
    display: inline-block;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0 0 34.9%;
    border: 0;
    font-weight: 600;
}
.good_send_echo {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index: 9999;
    background-color: rgba(0,0,0,.6);
}
.good_send_echo p{
position: absolute;
left: calc(50% - 225px);
top: 30%;
background-color: #fff;
color: #000;
font-size: 1em;
padding: 1em;
text-align: center;
width: 100%;
max-width: 450px;
}
.good_send_echo p span {
    display: block;
    text-transform: uppercase;
    font-size: 2em;
}
body.page_hotel section#footer_menu {
    padding: 22px 0 0;
}
section#footer_menu {
    background-color: #bababa;
    text-align: center;
    padding: 22px 0 17px;
    display: inline-block;
    width: 100%;
    margin-bottom: -5px;
}
.footer_copy {
    float: left;
    width: 30%;
    font-size: 14px;
    color: #373c42;
    text-align: left;
}
section#footer_menu a::after {
    content: '';
    position: absolute;
    right: -6px;
    top: 0;
    color: #5279b2;
}
form.feedback_popup {
    width: 100%;
    max-width: 280px;
    display: inline-block;
    
}
form.feedback_popup h2 {
    font-size: 36px;
    color: #5279b2;
    text-align: center;
}
form.feedback_popup p {
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding: 0 10px;
}
form.feedback_popup input {
    border: 2px solid #828282;
    font-size: 18px;
    color: #000;
    padding: 15px 10px;
    display: block;
    width: 100%;
    margin-top: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    
}
form.feedback_popup input[type="button"] {
    font-size: 25px;
    color: #fff;
    border: none;
    background-color: #5279b2;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    text-transform: uppercase;
    margin-top: 16px;
}
label.validation:before {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    right: 50px;
}
section#header_menu a:hover {
    color: #fccd03;
    border-bottom: 5px solid #fccd03;
}
.logo_page_hotel {
    right: 5%;
}
.data {

    border: 1px solid #4776c8;
    padding: 20px;
    display: inline-block;
    width: 100%;
}
.choice_btn a.btn_feedback:hover {
    background-color: #4bb960;
}